@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
    overflow: hidden;
    height: 100%;
}

.my-auto { 
    margin-top: auto; 
    margin-bottom: auto; 
}

.w-463 {
    width: 463px;
}

.flex-grow{
    flex-grow: 4;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.animate-marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
    will-change: transform;
}

/* Profile */
.account-info{
    margin: 0 auto;
}

.register-location{
    margin: 0 auto;
}

.edit-profile{
    margin: 0 auto;
}

.profile-edit-box{
    width: 100%;
}

.profile-edit-box-section{
    width: 100%;
    background-color: #DDEDFA;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.25rem;;
}

.profile-section-name{
    padding-bottom: 0.25rem;
}

.profile-buttons{
    width: 1rem;
    height: 1rem;
}



/* caraouwsel */
.gallery{
    width: 45%;
}

.gallery-container{
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.gallery-item{
    height: 200px;
    opacity: 0.8;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

/* gallery-3 */

.gallery-3 .gallery-item-1 .gallery-item-3{
    left: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}

.gallery-3 .gallery-item-1{
    left: 30%;
    transform: translateX(-50%);
}

.gallery-3 .gallery-item-2{
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0,0.35);
    height: 250px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.gallery-3 .gallery-item-3{
    left: 70%;
    transform: translateX(-50%);
}

/* gallery 4 */

.gallery-4 .gallery-item-1{
    left: 30%;
    transform: translateX(-50%);
}

.gallery-4 .gallery-item-2{
    left: 30%;
    transform: translateX(-50%);
    opacity: 0.9;
    z-index: 1;
}

.gallery-4 .gallery-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0,0.35);
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    z-index: 2;
}

.gallery-4 .gallery-item-4{
    left: 70%;
    transform: translateX(-50%);
    opacity: 0.9;
    z-index: 1;
}

/* gallery 5 */

.gallery-5 .gallery-item-1{
    left: 20%;
    transform: translateX(-50%);
    opacity: 0.25;
    width: auto;
}

.gallery-5 .gallery-item-2{
    left: 30%;
    transform: translateX(-50%);
    opacity: 0.5;
    z-index: 1;
    width: auto;
}

.gallery-5 .gallery-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0,0.35);
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    background-image: url(/public/image/box_hm.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain;
    z-index: 2;
    background-size: 100% 100%;
    padding: 30px;
}

.gallery-5 .gallery-item-4{
    left: 70%;
    transform: translateX(-50%);
    opacity: 0.5;
    z-index: 1;
    width: auto;
}

.gallery-5 .gallery-item-5{
    left: 80%;
    transform: translateX(-50%);
    opacity: 0.25;
    width: auto;
}

/*  */

.gallery-controls{
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.gallery-controls-button{
    outline: none;
}

.gallery-controls-previous{
    position: relative;
}

.gallery-controls-previous::before{
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-previous::before{
    left: -40px;
}

.gallery-controls-next{
    position: relative;
}

.gallery-controls-next::before{
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    right: -30px;
    padding: 10px;
    position: absolute;
    top: 40;
    transform: rotate(-45deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-next::before{
    right: -40px;
}

.gallery-nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li{
    background-color: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected{
    background-color: #555;
}

@keyframes fill-left-to-right {
    from { width: 0%; }
    to { width: 50%; }
}

.fill-left-to-right {
    animation: fill-left-to-right 0.5s ease-in-out;
    transform-origin: right;
}

@keyframes fill-up-to-down {
    from { max-height: 0; opacity: 0; }
    to { max-height: 100%; opacity: 1; }
}

.fill-up-to-down {
    animation: fill-up-to-down 0.5s ease-in-out;
    transform-origin: top;
}
